.button {
    background-color: #fff;
    border: solid 2px hsl(240, 64%, 27%);
    color: #191970;
    border-radius: 20px;
    padding: 50px 100px;
    text-decoration: none;
    font-size: 2em;
    box-shadow: 0 15px 0 #191970;
    display: inline-block;
    transition: .3s;
  }
  .button:hover {
    color: #191970;
    transform: translateY(5px);
    box-shadow: 0 0 0 #191970;
  }