.background {
    background-color: rgb(34, 34, 34);
        width: 1024px; /* 横幅 */
        height: 768px; /* 縦幅 */
        display: flex; /* ボックスを中央に配置するためにflexboxを使用 */
        justify-content: center; /* 横方向に中央揃え */
        align-items: center; /* 縦方向に中央揃え */
        margin: 0 auto; /* ページ中央に配置 */
        top: -8px; /* 8ピクセル上に移動 */
}

#can {
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-box {
    width: 20px; /* 幅 */
    height: 20px; /* 高さ */
    background-color: #3498db; /* 背景色 */
    border: 2px solid #2980b9; /* 枠線 */
    display: flex; /* ボックス内の文字を中央に配置するためにflexboxを使用 */
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
    color: white; /* 文字色 */
    font-size: 24px; /* 文字サイズ */
}