/***** Button共通設定 *****/
Button {
    background-color: #ff69b4; /* ピンク色の背景 */
    color: white; /* 白い文字色 */
    border: none; /* 枠線なし */
    border-radius: 15px; /* 丸みを帯びた角 */
    padding: 10px 20px; /* 内側の余白 */
    font-size: 16px; /* フォントサイズ */
    font-family: "MS 明朝"; /* 可愛いフォント */
    cursor: pointer; /* カーソルが指になる */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影をつける */
    transition: background-color 0.3s, transform 0.3s; /* アニメーション */
    position: relative; /* アイコンを相対配置 */
    width: 120px; /* ボタンの幅 */
    position: absolute; /* 絶対位置を設定 */
}

/* カーソル合わせた時の処理 */
Button:hover {
    background-color: #ff85c0; /* ホバーした時の色 */
    transform: scale(1.05); /* 少し大きくなる */
}

/* ボタンをクリックしたときのスタイル */
Button:active {
    transform: scale(0.95); /* 少し小さくなる */
}


/***** previousButton設定 *****/
#previousButton {
    right: calc(7% + 120px); /* 左から7%+120pxの位置 */
    bottom: 5%; /* 下から5%の位置 */
}


/***** nextButton設定 *****/
#nextButton {
    right: 5%; /* 右から5%の位置 */
    bottom: 5%; /* 下から5%の位置 */
}


/***** backButton設定 *****/
#backButton {
    left: 5%; /* 左から5%の位置 */
    bottom: 5%; /* 下から5%の位置 */
}

#can {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
